body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#subtitle {
  font-size: large;
  font-weight: bold;
  /* font-size:30; */
  padding-top: 10px;

}

#content {
  /* text-align: left; */
  font-size: small;
  font-weight: normal;
  /* font-size:30; */
  /* padding-top: 10px; */

}

#column {
  width: 25%;
}

#subtitle {
  font-size: large;
}

#content {
  font-size: medium;
}